<<<<<<< HEAD
.banner{

  background: url("./pictures/banner/banner.jpg")  no-repeat;
  background-size: contain;
  height: 700px;




=======
.banner{

  background: url("./pictures/banner/banner.jpg")  no-repeat;
  background-size: contain;
  height: 700px;




>>>>>>> origin/master
}