<<<<<<< HEAD

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Domine');


@import "bootstrap.css";
@import "header.scss";
@import "banner.scss";




.container{
  width: 1170px;
  margin: 0 auto;
}
=======

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Domine');


@import "bootstrap.css";
@import "header.scss";
@import "banner.scss";




.container{
  width: 1170px;
  margin: 0 auto;
}
>>>>>>> origin/master
